<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>What is Watt?</summary>
          <p>Watt is a clean energy project funding platform. Everything from efficiency, electricity generations, heating, colling to transportation. </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How does Watt work?</summary>
          <p>Each clean energy project is independently developed by the people behind it. They spend months and even years creating their projects. Every project creator sets their project's funding goal and deadline. If people like the project, they can pledge to invest money to make it happen. If the project succeeds in reaching its funding goal, all backers' are charged when time expires. If the project falls short, no one is charged. Funding on Watt is all-or-nothing.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Why is funding All-Or-Nothing?</summary>
          <p>All-or-nothing funding is a core part of Watt and it has a number of advantages:<br><br>It's less risk for everyone. If you need $50,000, it's tough having $15,000 and a bunch of people expecting you to complete a $50,000 project.<br><br>It motivates. If people want to see a project come to life, they're going to spread the word.<br><br>Projects either make their goal or find little support. There's little in-between.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What's the JOBS Act?</summary>
          <p>We give everyone - regardless of wealth - the opportunity to invest in energy projects. Watt features the best new energy projects that are tackling important problems, and lets you help them with your time, advice, and investment.<br><br>Previously, only accredited investors could invest in energy projects. However, now that the JOBS Act has passed Congress, it will soon be legal for everyone.</p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Why do investors back projects?</summary>
          <p>Backing a project is more than just investing or loaning money, it's supporting a project creator's dream to build something that they want to see exist in the world.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>How can I start a project?</summary>
          <p>Click the green "Start Your Project" button on the start page. That will take you through the process of building your project. All projects must meet Watt's project guidelines and all creators must meet eligibility requirements.<br><br>Before jumping in, do some research. Read through Watt School for tips on how to structure your project. Talk to your friends about your ideas to see what they think. Look at other projects on Watt that are similar to yours. All of this work will pay off.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Who is eligible to start a Watt project?</summary>
          <p>To be eligible to start a Watt project as a US creator, you need to meet the following requirements:<br><br>—You are 18 years of age or older.<br>—You are a permanent US resident with a Social Security Number (or EIN).<br>—You have a US address, US bank account, and US state-issued ID (driver’s license).<br>—You have a major US credit or debit card.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How does the investing process work?</summary>
          <p>After you’ve linked your bank account to your Watt funding account, simply visit the project listing and indicate the amount you wish to invest in the project’s Note. When your order is confirmed, the invested amount will be committed to that project and may no longer be withdrawn from your account or committed to other projects. Watt transfers the committed investment amount from your funding account when the Note is fully-funded and issued.<br><br>Alternatively, you may indicate your intent to invest in a project without linking your bank account to your funding account. However, your commitment will only become binding once your account has sufficient funds. While your investment is on hold, Watt may reduce your investment size in order to meet demand from other investors.</p>
        </details>
      </li>
    </ul>
  </div>
</div>
