<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is Watt?
      </h3>
      <p>
        Watt is a marketplace for clean energy projects. Creators and investors collaborate on everything related to electricity generation, heating, cooling, efficiency, IT and transportation.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Project Creators
      </h3>
      <p>
        Use Watt if you have a clean energy project that needs funding and is ready to be developed. Watt lowers the cost of capital that is needed to get your project off the ground by connecting you directly to investors. 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Investors
      </h3>
      <p>
        Browse projects and teams that you want to directly invest in and loan money to. By backing the projects you you believe in you can get higher returns on your investment, reduce your risk, increased socail capital and have direct impact on the projects you want to succeed. 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started!
      </h3>
      <p>
        Sign up to be a project creator or an energy investor! 
      <p>
    </div>
  </div>
</div>
