<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Monthly Payments</h4>
      <p>Every month you will receive monthly payments in your account from your investments. Each payment returns part of your principal investment plus the interest you earned that month.</p>
    </li>
    <li id="section-2">
      <h4>Clean Energy Notes</h4>
      <p>Each investment you make is represented by a Watt Note. The note is a written promise to pay a specific sum of money over a fixed term. Each Watt Note states how much you loaned to the project and the investment terms.</p>
    </li>
    <li id="section-3">
      <h4>Your Watt Online Account</h4>
      <p>Investing with Watt is easy. Simply sign-in to your Watt account anytime to manage and track your investment. As you receive payments from your investment, you can easily re-invest them in new projects or transfer them to your bank account.</p>
    </li>
    <li id="section-4">
      <h4>Platform Fee</h4>
      <p>Watt charges investors a 1% annual platform fee, which is assessed monthly on all assets on the platform. All project listings clearly show the Expected Yield after fees, meaning the yields you see are the yields you will get from projects that perform as expected.</p>
    </li>
  </ul>
</div>
